#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h4{
  margin: 0px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.activity-area{
  display: flex;
  flex-direction: column;
}

#root{
  width: 100%;
  padding: 0;
}

#root div{
  width: 100%;
}

.game-area{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.leaderboard{
  display: flex;
  width: 75% !important;
  border: 2px solid #646cffaa;
  height: 30vh;
  border-radius: 10px;
  justify-content: start;
  align-items: center;
  padding: 2px 0px;
  overflow-y: scroll;
}

.leaderboard-item{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(77, 77, 77);
  padding: 0px 20px;
  height: 6vh;
  font-weight: 600;
}

.guesses{
  border: 2px solid #646cffaa;
  border-radius: 10px;
  width: 75% !important;
  justify-content: space-between;
  align-items: center;
}

.guess-input{
  display: flex;
  width: 100%;
}

.guess-chat{
  justify-content: end;
  align-items: start;
  border: 1px solid rgb(77, 77, 77);
  margin: 0;
  height: 23vh;
  padding: 5px 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.chat{
  padding: 0px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.chat.correct{
  color: green;
  background: rgba(49, 74, 49, 0.66);
  font-weight: 500;
}

.colors{
  width: 45% !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  padding: 10px;
  height: 20vh !important;

}

.controll{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-start;
}

.controll-right{
  display: flex;
  width: 50% !important;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.controll-right svg{
  margin: 0px 8px;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
}

.controll-right svg:hover{
  background-color: #303030;
}

.color-choosen{
  border: 2px solid white;
  height: 4vh;
  width: 30% !important;
}

.colors{
  width: 100% !important;
  height: 100% !important;
}

.canvas-area h1{
  margin: 0;
}

.canvas-area h3{
  margin: 0;
}

.words{
  letter-spacing: 10px;
}

.canvas{
  background-color: white;
}

.cursor-eraser{
  cursor: pointer !important;
}

.cursor-pencil{
  cursor: pointer !important;
}

.home-form-holder form{
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  #root{
    width: fit-content;
  }
  .game-area{
    flex-direction: column;
  }
  .canvas-area{
    width: 90% !important;
  }
  .controll{
    margin-top: 2rem;
  }
  .clear-button{
    width: 30%;
    font-size: 20px;
  }
  .controll-right{
    width: 60% !important;
  }
  .color-choosen{
    width: 30% !important;
  }
  .leaderboard{
    width: 95% !important;
  }
  .guesses{
    width: 95% !important;
  }
  .activity-area{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .leaderboard{
    width: 50%;
    height: 60svh;
  }
  .guesses{
    width: 50%;
    height: 60svh;
  }
  .guess-chat{
    height: 50svh;
  }
  .guess-input button{
    width: 90% !important;
  }
}