:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

div{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

input{
  border: 2px solid #646cff;
  padding: 10px;
  margin: 5px 0px;
  width: 250px;
  border-radius: 10px;
}

.players{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.players span{
  background-color: #1a1a1a;
  padding: 10px;
  margin: 2px 0px;
  border-radius: 10px;
}

.words{
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.canvas-area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas-area .controll{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.canvas-area .controll .colors{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: #ffffff;
  border-radius: 10px;
}

.canvas-area .controll .colors #red{
  background-color: red;
}

.canvas-area .controll .colors #green{
  background-color: green;
}

.canvas-area .controll .colors #blue{
  background-color: blue;
}

.canvas-area .controll .colors #yellow{
  background-color: yellow;
}